.userprofile-navbar{
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  font-size: 20px;
}
.profile-edit{
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  
}
.post-image{
  width: auto;
  height: 500px;
}